/**
 Menu-tabs: Menu LDLC like
 Author: Zedka
 Version: beta 0.1
*/

/***********************************************************************************************************************
GENERAL STYLE
*/

li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    font-family: sans-serif;
}

i {
    position: relative;
    top: 7px;
}

/***********************************************************************************************************************
ITEMS
**/

.menu-tabs > ul {
    padding-left: 0;
    min-width: 1000px;
}

.menu-tabs li {
    display: inline-block;
    width: 150px;
    box-sizing: border-box;
    height: 30px;
    background-color: #0066ff;
    border-radius: 5px 5px 0px 0px;
    vertical-align: top;
}

.menu-tabs li a {
    line-height: 30px;
    display: inline-block;
    width: 150px;
    padding-left: 10px;
    color: white;
}

.menu-tabs > ul {
    margin-bottom: 0px;
    padding-top: 16px;
    background-color: cornflowerblue;
}

/***********************************************************************************************************************
SUB MENUS
**/

.sub-menu {
    min-width: 720px;
    padding: 0px 0px 0px 0px;
    min-height: 200px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-top: none;
    box-shadow: 0px 17px 17px rgba(20, 20, 20, 0.175);
    border-radius: 0px 10px 0px 0px;
    display: none;
    position: relative;
    top: -4px;
    overflow: hidden;
}

.sub-menu-head {
    background-color: aliceblue;
    height: 50px;
    line-height: 50px;
    border-radius: 0px 10px 0px 0px;
}

.sub-menu-head li {
    display: inline-block;
    width: auto;
    border-radius: 0px;
    height: 30px;
    background-color: aliceblue;
}

.sub-menu-head li::after {
    color: blue;
    content: '|';
    font-size: 1.5em;
} 

.sub-menu-head li:last-of-type::after {
    content: '';
}

.sub-menu-head li a {
    color: black;
}

.sub-menu-head li a:hover,
.sub-menu-body li a:hover {
    text-decoration: underline;
}

.sub-menu-body {
    padding-top: 20px;
}

.sub-menu-body li {
    display: block;
    width: auto;
    border-radius: 0px;
    height: auto;
    background-color: white;
}

.sub-menu-body li:last-of-type {
    margin-bottom: 10px;
}

.sub-menu-body li a {
    line-height: normal;
    color: black;
}

/***********************************************************************************************************************
INTERACTION
**/

.active {
    border-bottom: none;
    box-sizing: border-box;
    background-color: aliceblue;
}
