/**********************************************************
* GENERAL STYLE
* Name: menu-h
* Author: Zedka
* Version: 0.1 beta
**/

.menu-h {
    width: 100%;
    min-width: 1000px;
    height: 40px;
    border-radius: 5px;
    background-color: #eeeeee;
    border: 1px solid lightgrey; 
}

.menu-h > ul {
    position: relative;
    top: -16px;
}

.menu-h ul ul {
    width: 250px;
    padding: 0px;
    margin-top: 0px;
    position: relative;
    left: 0px;
    border: 1px solid lightgrey;
    box-shadow: 0px 15px 12px rgba(0,0,0,0.175);
    background-color: white;
}

.menu-h ul ul:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-h li {
    height: 40px;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.menu-h li li {
    display: block;
    padding-left: 20px;
    width: 250px;
}

.menu-h li li:last-of-type {
    margin-bottom: 10px;
}

.menu-h li[class='top-level'] ul {
    visibility: hidden;
}

.menu-h a,
.menu-h a:visited {
    height: 40px;
    width: 150px;
    line-height: 40px;
    padding-left: 10px;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: grey;
}

.menu-h i {
    position: relative;
    top: 7px;
}

/************************************************************
* INTERACTION
*/

.menu-h li li:hover {
    display: block;
    background-color: #eeeeee;
}

.menu-h li[class='top-level']:hover > a {
    background-color: grey;
    color: black;
    width: 100px; 
}

.active > a {
    background-color: lightgrey;
    width: 100px;
    border-bottom: none;
}

.active > ul {
    visibility: visible;
}









